.jumbotron {
  background-color: #7f3481;
  color: #fff;
  text-align: center;
  padding: "none" !important;
}

.brand-icon {
  font-size: 80px;
}
#root {
  background-color: thistle;
  height: 400vh;
}
.MuiTypography-h5 {
  font-size: 20px !important;
  height: 45px;
}
.MuiCardHeader-root {
  padding: 10px !important;
}
.MuiCardActions-spacing > :not(:first-child) {
  margin-left: none !important;
}
